
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root{
    --color-one: #FF8484;
    --color-two: #F7D9C4;
    --color-text: #232323;
    --bg-1: #efefef;
    --bg-2: #DCE8EB;
    --font:"DM Sans", sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    font-family: var(--font);
    color: var(--color-text);
}
ul, li{
    list-style: none;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
@media (max-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 720px;
    }
}
@media (max-width: 768px) {
    .container{
        max-width: 540px;
    }
}
@media (max-width: 576px) {
    .container{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
